{:paths ["src"]
 :deps {seancorfield/depstar {:mvn/version "0.5.2"}
        com.workframe/garamond {:mvn/version "0.4.0"}
        deps-deploy {:mvn/version "0.0.9"}}
 :aliases
 {:release
  {:main-opts ["-m" "deps-library.release"
               ;; options can also be passed in here:
               ; "--artifact-id" "appliedscience"
               ; "--group-id" "deps-library"
               ; "--scm-url" "https://github.com/appliedsciencestudio/deps-library"
               ]}}}